<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Edit User</title>
</head>
<body>
    <form action="/editUser" method="POST">
        <label for="fullname">Full Name:</label>
        <input type="text" id="fullname" name="fullname" required>
        <br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="gender">Male</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="gender">Female</label><br>

        <label for="bdate">Birthdate</label>
        <input type="date" name="bdate" id="bdate">

        <br>

        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
<script>
    axios.get('/getUserData')
        .then(response => {
            const userData = response.data;
            document.getElementById('fullname').value = userData.fullname;
            document.querySelector(`input[name="gender"][value="${userData.gender}"]`).checked = true;
            document.getElementById('bdate').value = userData.bdate;
        })
        .catch(error => console.error(error));
</script>